* {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(48,49,245);
    background: radial-gradient(circle, rgba(48,49,245,1) 0%, rgba(148,187,233,1) 100%);
    font-family: sans-serif;
}

h2 {
    width: 45%;
    font-size: 2rem;
    border-bottom: 3px solid green;
}

.container {
    width: 98%;
    margin: 0 auto;
}
.icon-menu-movil {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    z-index: 1;
}
.movil-nav {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: green;
    z-index: 1;
    transition: right .3s ease-in-out;
    
}
.movil-nav ul li {
    margin-bottom: 1rem;
    color: #fff;
}
.show {
    opacity: 1;
}

.portfolio {
    position: relative;
    min-height: 770px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}
